/**
 * Site header
 */
.site-header {
    height: 130px;
    background: transparent url(../img/books.jpg) center center / cover no-repeat;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  color: $background-color;
  &:active, &:visited, &:hover {
    color: $background-color;
    text-decoration: none;
  }
}

.site-nav {
    float: right;
    line-height: 56px;

    a, a:visited {
      color: $background-color;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        margin-right: 20px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $nav-background-color;
        border: 1px solid $nav-border-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $menu-icon-fill-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

		a, a:visited {
			color: $text-color;
		}

        .page-link {
            display: block;
            padding: 5px 10px;
			margin-right: 0;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin: $spacing-unit;
    padding-top: $spacing-unit;
    border-top: 1px solid $divider-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

	@include media-query($on-palm) {
		li {
			margin-top: 10px;

			a {
				font-size: 1.2em;
			}
		}
	}
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @include clearfix();
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $post-meta-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

#disqus_thread {
  border-top: 1px solid $divider-color;
  padding-top: $spacing-unit;
}
